@model IEnumerable<PLAZAMANAGEMENTSYSTEM.Models.AmountForEachVechileType>



<div class="panel panel-flat">

    <div class="panel-heading mb-5">
           <h1><u>Vehicle Type Amount</u></h1>
        <div class="col-sm-12">
            <a class="btn bg-primary-800 btn-sm pull-right" data-toggle="modal" data-target="#VehicleAFormmodal">Add <i class="icon-add"></i></a>
        </div>
    </div>
       <div class="panel-body">

        <div class="table-responsive">

       

                <table class="jqueryTblPlugin table table-xxs table-condensed table-bordered table-striped table-hover bg-lightgray">

                    <thead>
                        <tr class="bg-primary">
                            <th>VehicleType</th>
                            <th>Amount</th>
                            <th>Actions</th>

                        </tr>
                    </thead>

                    <tbody>

                        @foreach (PLAZAMANAGEMENTSYSTEM.Models.AmountForEachVechileType item in Model)
                        {
                            <tr>

                                <td>@item.TypeName</td>
                                <td>@item.Amount</td>
                                <td>
                                    <div class="row">

                                        <div class="col-md-6">
                                            <span data-toggle="modal" data-target="#VehicleAFormmodalEdit" class="Edit text-blue cpointer" id="@item.AmId"><i class="icon-pencil7"></i></span>

                                            <span class="DeleteVAmount text-danger cpointer" id="@item.AmId"><i class="icon-trash"></i></span>
                                        </div>
                                    </div>
                                </td>

                            </tr>

                        }
                    </tbody>

                </table>

            </div>



        </div>







    </div>
  








        @*Save Modal*@
        <form id="AmountForVehicleForm">
            <div class="modal fade" id="VehicleAFormmodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="modal-title" id="exampleModalLabel">Vehicles Amount</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <div class="row">

                                <div class="form-group">
                                    <label class="control-label">Vechile Type Name <span class="text-danger">*</span></label>

                                    @{
                                        List<PLAZAMANAGEMENTSYSTEM.Models.VehicleType> vehicleTypes = new PLAZAMANAGEMENTSYSTEM.Models.VehicleType().GetAllVehicleType();
                                    }
                                    @Html.DropDownList("VehicleTypeId", vehicleTypes.Select(p => new SelectListItem() { Text = p.TypeName, Value = p.VehicleTypeId.ToString() }), new { @class = "form-control", data_style = "btn-default btn-xs", data_width = "100%" })

                                </div>
                            </div>

                            <div class="row">

                                <div class="form-group">
                                    <label class="control-label">Amount <span class="text-danger">*</span></label>
                                    <input class="form-control" type="number" name="Amount" id="Amount" placeholder="Enter Amount" />
                                </div>
                            </div>




                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger closeModal" data-dismiss="modal">Close</button>
                            <button type="button" id="saveamount" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>




        @*EDIT MODAL*@
        <form id="AmountForVehicleFormEdit">
            <div class="modal fade" id="VehicleAFormmodalEdit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <span class="modal-title" id="exampleModalLabel">Vehicles Amount</span>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">

                            <input hidden type="number" id="AmId" />

                            <div class="row">

                                <div class="form-group">
                                    <label class="control-label">Amount <span class="text-danger">*</span></label>
                                    <input class="form-control" type="number" name="Amount" id="EAmount" placeholder="Enter Amount" />
                                </div>
                            </div>


                            <div class="row">

                                <div class="form-group">
                                    <label class="control-label">Vechile Type Name <span class="text-danger">*</span></label>

                                    @{
                                        List<PLAZAMANAGEMENTSYSTEM.Models.VehicleType> vehicleTypes2 = new PLAZAMANAGEMENTSYSTEM.Models.VehicleType().GetAllVehicleType();
                                    }
                                    @Html.DropDownList("vehicleTypeId", vehicleTypes2.Select(p => new SelectListItem() { Text = p.TypeName, Value = p.VehicleTypeId.ToString() }), new { @class = "form-control", data_style = "btn-default btn-xs", data_width = "100%" })

                                </div>
                            </div>




                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger closeModal" data-dismiss="modal">Close</button>
                            <button type="button" id="updateamount" class="btn btn-primary">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <script src="~/Javascript/VehicleTypeAmountCrud.js"></script>